<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.memtrip.eosreach">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.android.vending.BILLING" />

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name=".app.EosReachApplication"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning">

        <activity android:name="com.memtrip.eosreach.app.welcome.EntryActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".app.welcome.splash.SplashActivity" />
        <activity android:name=".app.welcome.createaccount.WelcomeCreateAccountActivity" />
        <activity android:name=".app.welcome.importkey.WelcomeImportKeyActivity" />

        <activity android:name=".app.blockproducer.BlockProducerListActivity" />
        <activity android:name=".app.blockproducer.DefaultViewBlockProducerActivity" />
        <activity android:name=".app.blockproducer.ReadOnlyViewBlockProducerActivity" />

        <activity android:name=".app.proxyvoter.ProxyVoterListActivity" />
        <activity android:name=".app.proxyvoter.DefaultViewProxyVoterActivity" />
        <activity android:name=".app.proxyvoter.ReadOnlyViewProxyVoterActivity" />

        <activity android:name=".app.account.DefaultAccountActivity" />
        <activity android:name=".app.account.ReadonlyAccountActivity" />
        <activity android:name=".app.account.actions.DefaultActionsActivity" />
        <activity android:name=".app.account.actions.ReadOnlyActionsActivity" />
        <activity android:name=".app.account.actions.ViewTransferActionActivity" />
        <activity android:name=".app.account.resources.manage.bandwidth.BandwidthManageActivity"
            android:windowSoftInputMode="adjustPan"/>
        <activity
            android:name=".app.account.resources.manage.manageram.ManageRamActivity"
            android:windowSoftInputMode="adjustPan"/>
        <activity android:name=".app.account.resources.manage.manageram.RamConfirmActivity" />
        <activity android:name=".app.account.resources.manage.bandwidth.BandwidthConfirmActivity" />
        <activity android:name=".app.account.resources.manage.bandwidth.UndelegateBandwidthContainerActivity" />

        <activity android:name=".app.account.vote.cast.CastVoteActivity" />

        <activity android:name=".app.transfer.form.TransferFormActivity" />
        <activity android:name=".app.transfer.confirm.TransferConfirmActivity" />

        <activity android:name=".app.transaction.log.TransactionLogActivity" />
        <activity android:name=".app.transaction.log.ViewConfirmedTransactionsActivity" />
        <activity android:name=".app.transaction.receipt.TransactionReceiptActivity" />

        <activity android:name=".app.manage.ManageCreateAccountActivity" />
        <activity android:name=".app.manage.ManageImportKeyActivity" />

        <activity android:name=".app.settings.SettingsActivity" />
        <activity android:name="com.memtrip.eosreach.app.price.currencypairing.CurrencyPairingActivity" />
        <activity android:name=".app.settings.eosendpoint.EosEndpointActivity" />
        <activity android:name=".app.settings.viewprivatekeys.ViewPrivateKeysActivity" />

        <activity android:name=".app.search.SearchActivity"
            android:windowSoftInputMode="stateAlwaysVisible"/>

    </application>

</manifest>
